[user]
    name = Łukasz Jędrzejewski
    email = jedrzejewskiluk@gmail.com
    emacs = jedrzejewskiluk@gmail.com
[github]
    user = jedrz
[credential "https://github.com"]
    username = jedrz
[credential "https://bitbucket.org"]
    username = jedrz
[credential "https://gitlab.com"]
    username = jedrz
[credential]
    helper = !pass-git-helper $@
[push]
    default = simple
[include]
    path = ~/.gitkurwa/config
[include]
    path = ~/.gitkurwa/configNSFW_PL
[include]
    path = ~/.gitconfig_private
