[user]
    name = Łukasz Jędrzejewski
    email = jedrzejewskiluk@gmail.com
    emacs = jedrzejewskiluk@gmail.com
[github]
    user = jedrz
[credential "https://github.com"]
    username = jedrz
[credential "https://bitbucket.org"]
    username = jedrz
[credential "https://gitlab.com"]
    username = jedrz
[credential]
    helper = !pass-git-helper $@
    helper = cache --timeout=86400
[push]
    autoSetupRemote = true
[includeIf "gitdir:~/TouK/"]
    path = ~/.gitconfig-TouK
[alias]
    pullall = !git pull && git submodule update --init --recursive
    branch-reset-head = !sh -c '[ "$#" -ne 1 ] && echo \"branch-reset-head <new-branch>\" || (git branch $1 && git reset --hard HEAD~1 && git checkout $1)' -
[core]
    pager = delta
	excludesfile = /home/lukasz/.dotfiles/git/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
    colorMoved = default
    algorithm = histogram
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[gitlab "gitlab.touk.pl/api/v4"]
    user = ljd
[pull]
    ff = only
[merge]
    conflictstyle = zdiff3
[rebase]
    autosquash = true
    autostash = true
[rerere]
    enabled = true
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
