[submodule "git/.gitkurwa"]
	path = git/.gitkurwa
	url = https://github.com/jakubnabrdalik/gitkurwa.git
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "zsh/.zsh-autosuggestions"]
	path = zsh/.zsh-autosuggestions
	url = git://github.com/tarruda/zsh-autosuggestions
