ncmpcpp/.ncmpcpp/error.log

/clojure/.lein/repl-port
/clojure/.lein/self-installs
*.jar
/password-store/.config/gopass/gopass-logo-small.png
/scala/.ammonite/cache/
/scala/.ammonite/history
/tmux/.tmux/plugins/*
!/tmux/.tmux/plugins/tpm
